.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 5px;
  margin-top: 16px;
}

.container .icon {
  position: absolute;
  font-size: 2rem;
  top: 10px;
  left: 8px;
  padding: 4px;
  background-color: var(--primary);
  color: white;
  margin-right: 8px;
  border-radius: 4px;
}

.container .input {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.container .input:focus {
  outline: none;
  border-color: rgb(91, 184, 246);
}
